{% extends "base.html" %}

{% block page_content %}


<form method="POST" enctype="multipart/form-data">
    <!--{% csrf_token %}
    {{ form }}-->
    <div class="row  justify-content-center    dash-content" style="overflow-x: auto;">
        <div class="col-12">
            
            <div class="item" style="margin-top: 4vh; min-width: var(--mw-gcontent);">
                {% include "add_members.html"%}
            </div>

            <hr style="min-width: var(--mw-gcontent);">
            
            <div class="item" style="margin-top: 4vh; min-width: var(--mw-gcontent);">
                {% include "members_upload.html"%}
            </div>
            
            <hr style="min-width: var(--mw-gcontent);">
            
            <div class="row  justify-content-center" style="margin-bottom: 16px; min-width: var(--mw-gcontent);">
                <input type="submit">
            </div>
        </div>
    </div>
</form>



{% endblock %}


