{% extends "base.html" %}

{% block page_content %}


<form method="POST" enctype="multipart/form-data">
    <!--{% csrf_token %}
    {{ form }}-->
    <div class="row  justify-content-center">
        <div class="col-12">
            
            <div class="item" style="margin-top: 4vh;">
                {% include "add_members.html"%}
            </div>

            <hr>
            
            <div class="item" style="margin-top: 4vh;">
                {% include "members_upload.html"%}
            </div>
            
            <hr>
            
            <div class="row  justify-content-center" style="margin-top: 4vh;">
                <input type="submit">
            </div>
        </div>
    </div>



    <div class="row  justify-content-center" style="margin-top: 4vh;">
    </div>
</form>



{% endblock %}


