{% extends "base.html" %}

{% block page_content %}


<form method="POST" enctype="multipart/form-data">
    <!--{% csrf_token %}
    {{ form }}-->
    <div class="row  justify-content-center    dash-content" style="overflow-x: auto;">
        <div class="col-12">
            <div class="row justify-content-center" style="margin-top: 2vh; min-width: var(--mw-gcontent);">
                <div class="item"    style="margin-top: 1vh; position: relative; display: inline-block; margin-left: 24px; margin-right: 24px;">
                    <label for="groupName" style="width: 92px;">Group Name</label>
                    <input name="groupName" type="text" id="groupName" maxlength="30" style="min-width: 256px;">
                </div>

                <div class="item"    style="margin-top: 1vh; position: relative; display: inline-block; margin-left: 24px; margin-right: 24px;">
                    <label for="unitCode" style="width: 92px">Unit Code</label>
                    <input name="unitCode" type="text" id="unitCode" maxlength="7" style="min-width: 256px;">
                </div>
            </div>

            <hr style="min-width: var(--mw-gcontent);">



            <div class="item" style="margin-top: 4vh; min-width: var(--mw-gcontent);">
                {% include "add_members.html"%}
            </div>

            <hr>
            
            <div class="item" style="margin-top: 4vh; min-width: var(--mw-gcontent);">
                {% include "members_upload.html"%}
            </div>
            

            <hr style="min-width: var(--mw-gcontent);">

            <div class="row  justify-content-center" style="margin-bottom: 16px; min-width: var(--mw-gcontent);">
                <input type="submit">
            </div>
        </div>
    </div>
</form>



{% endblock %}


