{% extends "base.html" %}

{% block page_content %}


<form method="POST">
    <!--{% csrf_token %}
    {{ form }}-->
    <div class="row  justify-content-center" style="">
        <div class="col-6">
            <div class="item" style="float: right; margin-top: 4vh;">
                <label for="groupName">Group Name</label>
                <input name="groupName" type="text" id="groupName" style="margin-left: 1vh;">
            </div>

            <div class="item" style="float: right; margin-top: 4vh;">
                <label for="unitCode">Unit Code</label>
                <input name="unitCode" type="text" id="unitCode" style="margin-left: 1vh;">
            </div>

        </div>

        <div class="col-6">
            
        </div>
    </div>



    <div class="row  justify-content-center" style="margin-top: 4vh;">
        <input type="submit">
    </div>
</form>



{% endblock %}


