{% extends "base.html" %}

{% block page_content %}

<!--table to display members (unstyled)-->
<table style="min-width: 40vh;">
        <tr>
            <th>Name</th>
            <th>Role/s</th>

            {% for t in tasks %}
                <th>{{ t.categoryName }}</th>
            {% endfor %}
        </tr>
    {% for m in members %}
    <tr>
        {% if active_member == m %}     <!-- Indicate which group member is selected, temp TODO -->
            <td class="selected-mem">{{ m.person.get_full_name }}</td>
            <td>{{ m.roles }}</td>
            {% for t in totals %}
                <td>{{ t }}</td>
            {% endfor %}
        {% else %}
            <td>{{ m.person.get_full_name }}</td>
            <td>{{ m.roles }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>


<!--form to create new time/task logs
    Decided to go with a different approach:

    * user clicks a button (New Log) which takes them to logging a MemberEntry
    * if the Taskcategory isnt available in the dropdown of the MemberEntry form they have the option of making a new one
    * if they make a new one, this takes them to the TaskCategory form.

    None of the above has been implemented and only the New Log button should belong in this template.
    Kept this code around for reference when i go to make the above forms. -->

<form method="POST" style="margin-top: 10vh;"> {% csrf_token %}
    <label for="hours">Hours</label>
    <input name="hours" type="number" id="hours" min="0.5" step="0.5">

    <label for="task">Task</label>
    <select name="task" id="task">
        {% for t in tasks %}
            <option value="{{ t.categoryName }}">{{t.categoryName}}</option>
        {% endfor %}
    </select>

    <input type="submit">
</form>



{% endblock %}