{% extends "base.html" %}

{% block page_content %}

<!-- https://getbootstrap.com/docs/4.0/components/carousel/ -->
<div id="dateRangeCarousel" class="carousel slide" data-ride="carousel" data-interval="0"> 
    <!-- Carousel Indicators -->
    <ol class="carousel-indicators">
        {% for w in weeks %}
            {% if forloop.counter0 == 0 %}
                <li data-target="#dateRangeCarousel" data-slide-to="{{ forloop.counter0 }}" class="active" style="filter: invert(100%);"></li>
            {% else %}
                <li data-target="#dateRangeCarousel" data-slide-to="{{ forloop.counter0 }}" style="filter: invert(100%);"></li>
            {% endif %}
        {% endfor %}
    </ol>


    <!-- Carousel Content -->
    {% if not is_owner %}
    <div class="carousel-inner" style="max-height: 72vh; min-height: 72vh; overflow-y: scroll; overflow-x: scroll; margin-top: 2vh;">
    {% else %}
    <div class="carousel-inner" style="max-height: 90vh; min-height: 90vh; overflow-y: scroll; overflow-x: scroll; margin-top: 2vh;">
    {% endif %}

        {% for w in weeks %}

            {% if forloop.counter0 == 0 %}
            <div class="carousel-item active">
            {% else %}
            <div class="carousel-item">
            {% endif %}
                
                <!-- Date Range Heading -->
                <div class="row justify-content-center" style="margin-bottom: 4vh;">
                    <h4> {{ w.0 }} </h4>
                </div>

                <!-- Table -->
                {% include "memberchart.html" with members=w.1 %}

                <!-- Date Range Content -->
                {% include "timetable.html" with members=w.1 %}
            </div>
        {% endfor %}
    </div>


    <!-- Next/Prev Buttons -->
    <a class="carousel-control-prev" href="#dateRangeCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true" style="filter: invert(100%);"> </span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#dateRangeCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true" style="filter: invert(100%);"> </span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!--form to create new time/task logs
    Decided to go with a different approach:

    * user clicks a button (New Log) which takes them to logging a MemberEntry
    * if the Taskcategory isnt available in the dropdown of the MemberEntry form they have the option of making a new one
    * if they make a new one, this takes them to the TaskCategory form.

    None of the above has been implemented and only the New Log button should belong in this template.
    Kept this code around for reference when i go to make the above forms. -->
    
{% if not is_owner %}
<hr>
<div class="row justify-content-center">
    <h5 style="color: var(--accent1); padding-bottom: 2vh;">Log Time</h5>
</div>

<div class="row justify-content-center">
    <form method="POST" > {% csrf_token %}
        <label for="hours">Hours</label>
        <input name="hours" type="number" id="hours" min="0.5" step="0.5">

        <label for="task">Task</label>
        <select name="task" id="task">
            {% for t in tasks %}
                <option value="{{ t.categoryName }}">{{t.categoryName}}</option>
            {% endfor %}
        </select>

        <input type="submit">
    </form>
</div>
{% endif %}

{% endblock %}