{% if active_member is None %}

    <div class="row justify-content-center" style="padding-left: 12vh; padding-right: 12vh;">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <canvas id="pie{{forloop.counter0}}"></canvas>
        <script>
            new Chart(document.getElementById('pie{{forloop.counter0}}').getContext('2d'), {
                type: 'pie',
                data: {
                    labels: [{% for m in members %}"{{m.prettyname}}",{% endfor %}], //Get people's name
                    datasets: [{
                        label: 'Hours worked on project    {{ w.fullname }}',
                        data: [{% for m in members %}{{m.totaltime}},{% endfor %}], //Get people's total times (for time frame)

                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
            </script>
             <label for="task">Task</label>
             <select name="task" id="task">
                 {% for t in tasks %}
                     <option value="{{ t.categoryName }}">{{t.categoryName}}</option>
                 {% endfor %}
             </select>
    </div>


{% endif %}