<div class="dropdown-menu dropdown-menu-sm" id="context-menu{{idx}}">
    <a style="position: absolute; width: 1.55em; height: 1.55em; top: -.5em; right: -0.5em; padding: 4px;  display: flex; align-items: center;
            border-radius: 10em; border-width: 1px; border-color: lightgrey; border-style: solid; background-color: var(--background1);
            cursor: pointer; cursor: hand;" id="close-cm{{idx}}">
        <i class="fa fa-times" aria-hidden="true" style="color: var(--accent1); font-size: 1.2em; vertical-align: middle;"></i>
    </a>

    <form method="POST" id="form-cm{{idx}}"> {% csrf_token %}
        {% for r in roles %}
            <div class="dropdown-item disabled"><input type="checkbox" style="float:right; pointer-events:auto" href="#" data-role={{r.pk}} data-rolename="{{r.name}}">{{r.name}}</a></div>
        {% endfor %}
    </form>

    <a class="dropdown-item" href="#" id="submit-cm{{idx}}" style="font-style: italic;">Submit</a>
</div>


<script>
    

    function showCM{{idx}}(e) {
        var top = e.pageY - 10;
        var left = e.pageX - 90;
        
        // TODO checkbox already selected roles
        var roles = $('#member-roles{{idx}}').attr("data-roles");
        var rolenames = roles.split(",");
        rolenames.forEach(function(item, idx, _) {
            
            $("#form-cm{{idx}}").children("div").children('input').each(function() {
                if ($(this).attr("data-rolename") == item) {
                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });
        });
        $("#context-menu{{idx}}").css({
            display: "block",
            top: top,
            left: left,
            position: "fixed"
        }).addClass("show");
    }

    function submitCM{{idx}}() {
        
        var m_id = $('#member-roles{{idx}}').attr("data-member");
        var g_id = $('#member-roles{{idx}}').attr("data-group");
        var roles = [];

        var url = ''
        var data = $('#form-cm{{idx}}').serialize();
        console.log(data);

        // TODO POST request to submit data
        /*$("#context-menu{{idx}}").children('input').each(function() {
            var r_id = $(this).attr("data-role");
            if (r_id) {
                roles.push({
                    key: r_id,
                    value: $(this).is(":checked"),
                })
            }
        });

        console.log(roles);*/
    }


    $(document).ready(function() {
        var sTime, eTime;
        var LP = false;

        // On mobile, show the roles menu as when long-pressing
        $('#member-roles{{idx}}').on('click', function(e) {
            if(LP) {
                showCM{{idx}}(e);
            } else {
                var link = $('#member-roles{{idx}}').attr("data-link");

                if ((link) && (link.length > 0))
                    window.location = link;
            }

            return false;
        })
        
        // On desktop, show the roles menu as when right-clicking
        $('#member-roles{{idx}}').on('contextmenu', function(e) {
            showCM{{idx}}(e);
            return false; //blocks default Webbrowser right click menu
        })



        $('#member-roles{{idx}}').on('mousedown', function () {
            sTime = new Date().getTime();
        });

        $('#member-roles{{idx}}').on('mouseup', function () {
            eTime = new Date().getTime();
            LP = (eTime - sTime > 500) ? true : false;
        });


        // Discard changes on context menu, close it
        $("#close-cm{{idx}}").on("click", function() {
            $("#context-menu{{idx}}").removeClass("show").hide();
        });

        // Submit changes on context menu, close it
        $("#submit-cm{{idx}}").on("click", function() {
            $("#context-menu{{idx}}").removeClass("show").hide();
            submitCM{{idx}}();
        });
    });


    // Escape key to close context menu
    $(document).keyup(function(e) {
        if (e.key == "Escape") {
            $("#context-menu{{idx}}").removeClass("show").hide();
        }
    });
</script>