{% if active_member is None %}
<!-- Display for Group -->
    <div class="row  justify-content-center">
        <table style="min-width: 40vh;">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Role/s</th>
        
                    {% for t in tasks %}
                        <th>{{ t.categoryName }}</th>
                    {% endfor %}
                </tr>
        
            {% for m in members %}
                <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/dashboard/{{ group.pk }}/{{ m.0.pk }}/';">
                    
                    {% if active_member == m.0 %}     <!-- Indicate which group member is selected, temp TODO -->
                        <td class="selected-mem">{{ m.0.person.get_full_name }}</td>
                        <td>{{ m.0.roles }}</td>
                    {% else %}
                        <td>{{ m.0.person.get_full_name }}</td>
                        <td>{{ m.0.roles }}</td>
                    {% endif %}
        
                    {% for t in m.1 %}
                        <td>{{ t.1 }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% else %}
<!-- Display for Specific member (active_member) -->
    <div class="row  justify-content-center">
        <h5>{{ active_member.person.get_full_name }} ({{ active_member.roles }})</h5>
    </div>    

    <div class="row  justify-content-center" style="margin-bottom: 2vh;">
        <a href="/dashboard/{{ group.pk }}/">Back to Group</a>
    </div>



    <div class="row  justify-content-center">
        <table style="min-width: 40vh;">
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Role/s</th>
        
                    {% for t in tasks %}
                        <th>{{ t.categoryName }}</th>
                    {% endfor %}
                </tr>
            {% for m in members %}
                {% if m.0 == active_member %}
                    <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/dashboard/{{ group.pk }}/{{ m.0.pk }}/';">
                        <td class="selected-mem">{{ m.0.person.get_full_name }}</td>
                        <td>{{ m.0.roles }}</td>
            
                        {% for t in m.1 %}
                            <td>{{ t.1 }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

