{% if active_member is None %}
<!-- Display for Group -->
    <div class="row  justify-content-center group-content">
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Role/s</th>
        
                    {% for t in tasks %}
                        <th>{{ t.categoryName }}</th>
                    {% endfor %}
                </tr>
        
            {% for m in members %}
                <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/dashboard/{{ group.pk }}/{{ m.member.pk }}/';">
                    
                    {% if active_member == m.member %}
                        <td class="selected-mem">{{ m.prettyname }}</td>
                        <td>{{ m.prettyroles }}</td>
                    {% else %}
                        <td>{{ m.prettyname }}</td>
                        <td>{{ m.prettyroles }}</td>
                    {% endif %}
        
                    {% for t in m.tasks %}
                        {% if m.visible %}
                            <td>{{ t.totaltime }}</td>
                        {% else %}
                            <td>-</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% else %}
<!-- Display for Specific member (active_member) -->
    <div class="row  justify-content-center">
        <h5>{{ active_member.person.get_full_name }} ({{ active_member.roles }})</h5>
    </div>    

    <div class="row  justify-content-center" style="margin-bottom: 2vh;">
        <a href="/dashboard/{{ group.pk }}/">Back to Group</a>
    </div>



    <div class="row  justify-content-center group-content">
        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Role/s</th>
        
                    {% for t in tasks %}
                        <th>{{ t.categoryName }}</th>
                    {% endfor %}
                </tr>
            {% for m in members %}

                {% if active_member == m.member %}
                    <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/dashboard/{{ group.pk }}/{{ m.member.pk }}/';">
                        <td class="selected-mem">{{ m.prettyname }}</td>
                        <td>{{ m.prettyroles }}</td>
            
                        {% for t in m.tasks %}
                            <td>{{ t.totaltime }}</td>
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

