{% extends "trackerApp/logInBase.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Log In</h1>
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                {{ form| crispy }}
            </fieldset>
            <div class = "form-group">
                <button class = "btn-outline-info" type="submit">Log In</button>
            </div>
        </form>
        <div>
            <small class = "text-muted">
                Forgot your password?<a class = "ml-2" href="{% url 'password_reset' %}">Click Here</a>
            </small>
        </div>
        <small class = "text-muted">
            Don't have an account?<a class = "ml-2" href="{% url 'register' %}">Click Here</a>
        </small>
    </div>

{% endblock content %}